<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <!--bean for autowire byName-->
<!--    <bean id="movie"  autowire="byName" class="com.stackroute.Domain.Movie">-->

<!--    </bean>-->
<!--   <bean id="actor" class="com.stackroute.Domain.Actor">-->
<!--       <constructor-arg name="name" value="khushbu"/>-->
<!--       <constructor-arg name="gender" value="female"/>-->
<!--       <constructor-arg name="age" value="24"/>-->
<!--   </bean>-->


<!--    &lt;!&ndash;bean for autowire byType&ndash;&gt;-->
<!--    <bean id="movie1"  autowire="byType" class="com.stackroute.Domain.Movie">-->

<!--    </bean>-->
<!--    <bean id="Actor" class="com.stackroute.Domain.Actor">-->
<!--        <constructor-arg type="String" value="shahrukh"/>-->
<!--        <constructor-arg type="String" value="male"/>-->
<!--        <constructor-arg type="int" value="30"/>-->
<!--    </bean>-->




    <!--bean for autowire byConstructor-->
    <bean id="movie2" autowire="constructor" class="com.stackroute.Domain.Movie">
    </bean>
    <bean id="Actor" class="com.stackroute.Domain.Actor">
        <constructor-arg index="0" value="salman"/>
        <constructor-arg index="1" value="male"/>
        <constructor-arg index="2" value="40"/>
    </bean>
</beans>

